<div style="display: none;" id="playerVars"><%= data %></div>
<script src="/js/reInit.js"></script>
<script src="/js/gamePagePlayervarInit.js"></script>
<script src="/js/infoGen.js"></script>
<link rel="stylesheet" href="/css/edge.css">
<link rel="stylesheet" href="/css/board.css">
    <div id ="frame" class="colorInfoBlue"></div>

    <div style="display: none;" id="global_var"><%= global %></div>
    <script src="/js/genGlobalVarInfo.js"></script>
    <div class="left">
        <h1 class="title">Kugelfuhr</h1>
        <!--Hier muss noch ein Richtiger Spielname rein, aber idk ob der schon generiert wird...-->
        <p>Spielbezeichnung: <%= gameName %></p>
        <div id="playerList" class="playerList">
            <h2>Spitmieler:</h2>
            <div id="playerNames"></div>
        </div>
        <div class="flowcontrol" id="flowcontrol">
            <h2>Spielzug:</h2>
            <% for(var i = 0; i < 5; i++) { %>
                <div id="step<%= i + 1 %>" class="flowStep">
                    <p class="stepNr"><%= i+1%></p>
                    <p id="desc<%= i + 1 %>"></p>
                    <div class="stepInformation" id="content<%= i + 1 %>"></div>
                </div>
            <% } %>
        </div>
    </div>

    <div class="plate">
        <div class="graph" id="graph"></div>
        <!-- Spielername <= 12 Buchstaben wäre gut, glaub Zeilenumbruch würde doof aussehen-->
        <div class="playerTurn"><p id="playerTurn"></p>ist am Zug</div>
    </div>

    <div class="right">
        <h2>Ablagestapel</h2>
        <div class="ablage">
            <div id="ablageCard1" class="ablageCardSpace hidden"></div>
            <div id="ablageCard2" class="ablageCardSpace hidden"></div>
            <div id="ablageCard3" class="ablageCardSpace hidden"></div>
        </div>
        
        <div>
            <h2>Deine Handkarten</h2>
            <div class="cardInfoBox" id="cardInfoBox"></div>
            <div id="hand"></div>
        </div>
    </div>
    <div class="hidden" style="position: absolute; width: 100vw; height: 100vh;">
        <canvas id="aquarium" class="inactiveBody"></canvas>
            <img id="sharkGif" class="hidden" src="/img/schnappishark.gif" style="position:absolute; height:auto;">
            <div class="inactiveCenter">
                <h1>
                    Es sind nicht alle Spieler anwesend.<br>
                    Keine Interaktion möglich.
                </h1>
                <p>Nimm dir stattdessen einen Moment, dieses harmonische Aquarium zu betrachten.</p>
            </div>
    </div>
<script src="/js/fieldGen.js"></script>
<script src="/js/cardGen.js"></script>
<script src="/js/pointOrderFromRed.js"></script>
<script src="/js/eventListenersHandler.js"></script>
<script src="/js/socketio_base_com.js"></script>
<script src="/js/fishGen.js"></script>
<script src="/js/exchangeGen.js"></script>